/***FOOTER***/
.footer {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 80px;
}
.footer .item h3 {
  font-size: 1.3em;
  margin-bottom: 30px;
  color: #3d424b;
}
.footer .item .sociales {
  display: flex;
  align-items: center;
}
.footer .item .sociales img {
  width: 28px;
  margin-right: 24px;
}
.footer .item p a {
  color: #7f8591;
  text-decoration: underline;
}
.secundary-footer {
  background: #2b436e;
  padding: 30px;
  font-weight: 500;
}
.secundary-footer > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.secundary-footer img {
  width: 160px;
}
.secundary-footer p,
.secundary-footer a {
  color: #ffffff;
  font-size: 13px;
}
