/***MIDDLE BANNER***/
.middle-banner {
  background: linear-gradient(#1a44ce, #34acff);
  color: #ffffff;
  padding: 50px 0;
  margin: 80px 0;
}
.middle-banner .title {
  margin: 0 0 40px 0;
}
.middle-banner h2 {
  text-align: center;
  color: #fff;
  font-size: 2em;
}
.middle-banner .row-items {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}
.middle-banner .row-items .item {
  text-align: center;
}
.middle-banner .row-items .item p {
  color: #ffffff;
}
.middle-banner .row-items .item img {
  height: 35px;
  margin: 0 0 5px 0;
}
