/***MODAL***/
/***MODAL***/
.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-window.dashboard-modal {
  text-align: center;
}
.modal-window.dashboard-modal .inside-modal {
  max-width: 500px;
}
.modal-window.dashboard-modal .inside-modal img {
  max-width: 150px;
}
.modal-window.dashboard-modal .inside-modal h3 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 30px;
  color: #171717;
}
.modal-window.dashboard-modal .inside-modal p {
  color: #707070;
  margin-top: 30px;
}
.modal-window.dashboard-modal .inside-modal p a {
  color: #1677ff;
}
.modal-window.dashboard-modal .button-modal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}
.modal-window.dashboard-modal .button-modal .cancel-button {
  color: #171717;
}
.modal-window.dashboard-modal .button-modal .continuar-button {
  border-radius: 30px;
  border: solid 1px #3fde97;
  padding: 11px 25px 8px;
  color: #3fde97;
}
.modal-window.transfer-confirm .inside-modal {
  max-width: 500px;
}
.modal-window.transfer-confirm .inside-modal h3 {
  text-align: center;
  margin: 0;
  font-size: 20px;
  color: #171717;
  margin-bottom: 5px;
}
.modal-window.transfer-confirm .inside-modal h4 {
  color: #c4c4c4;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}
.modal-window.transfer-confirm .inside-modal #receipt-content {
  border: solid #40df97 1px;
  border-radius: 9px;
  margin-bottom: 15px;
}
.modal-window.transfer-confirm .inside-modal #receipt-content > div {
  padding: 15px;
  border-bottom: solid 1px #eaeaea;
}
.modal-window.transfer-confirm .inside-modal #receipt-content > div:last-child {
  border-bottom: none;
}
.modal-window.transfer-confirm .inside-modal #receipt-content .amout-detials {
  text-align: center;
}
.modal-window.transfer-confirm .inside-modal #receipt-content .amout-detials .payment-amount {
  color: #40df97;
  font-size: 25px;
  line-height: 1;
}
.modal-window.transfer-confirm .inside-modal #receipt-content .amout-detials .payment-subtitle {
  color: #c4c4c4;
}
.modal-window.transfer-confirm .inside-modal #receipt-content .user {
  color: #1677ff;
  text-align: center;
}
.modal-window.transfer-confirm .inside-modal #receipt-content .user span:before {
  color: #707070;
  margin-right: 5px;
}
.modal-window.transfer-confirm .inside-modal #receipt-content .bank-info {
  margin: 15px 0 0;
}
.modal-window.transfer-confirm .inside-modal #receipt-content .bank-info .row-receipt {
  display: flex;
  margin-bottom: 10px;
}
.modal-window.transfer-confirm .inside-modal #receipt-content .bank-info .row-receipt.two-rows {
  flex-direction: column;
}
.modal-window.transfer-confirm .inside-modal #receipt-content .bank-info .row-receipt.two-rows input {
  width: 100%;
  border: none;
  border-bottom: solid 1px #b7b7b7;
  border-radius: 0;
  padding: 0;
}
.modal-window.transfer-confirm .inside-modal #receipt-content .bank-info .row-receipt:last-child {
  margin-bottom: 0;
}
.modal-window.transfer-confirm .inside-modal #receipt-content .bank-info .row-receipt .left {
  color: #c4c4c4;
}
.modal-window.transfer-confirm .inside-modal #receipt-content .bank-info .row-receipt .right {
  flex: 1 1 0;
  color: #707070;
}
.modal-window.transfer-confirm .inside-modal #receipt-content .receipt-download {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1b406f;
  font-weight: 600;
}
.modal-window.transfer-confirm .inside-modal #receipt-content .receipt-download img {
  max-width: 20px;
  margin-right: 5px;
}
.modal-window .inside-modal {
  width: 90%;
  max-width: 400px;
  position: absolute;
  padding: 2em;
  background: #ffffff;
  border-radius: 15px;
}
.modal-window .inside-modal .tabla-transferencia {
  display: flex;
  flex-direction: column;
}
.modal-window .inside-modal .tabla-transferencia > div {
  flex: 1 1 0;
  display: flex;
  margin-bottom: 5px;
}
.modal-window .inside-modal .tabla-transferencia .left {
  color: #707070;
}
.modal-window .inside-modal .tabla-transferencia .right {
  color: #41e097;
  margin-left: auto;
}
.modal-window.openmodal {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  background: rgba(0, 0, 0, 0.25);
}
.modal-window header {
  font-weight: bold;
}
.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}
.modal-close {
  color: #fff;
  position: absolute;
  right: -5px;
  text-align: center;
  top: 0px;
  text-decoration: none;
  background: #111;
  padding: 1px 7px 0px 8px;
  border-radius: 100%;
  cursor: pointer;
}
.modal-close img {
  width: 20px;
}
.modal-close img:hover {
  opacity: 0.5;
}
.modal-close:hover {
  opacity: 0.8;
}
/* Demo Styles */
a {
  color: inherit;
}
/* .container {
  display: grid;
  justify-content: center;
  align-items: center;
} */
small {
  color: #aaa;
}
.btn {
  border-radius: 3px;
  text-decoration: none;
}
.btn i {
  padding-right: 0.3em;
}
/*FORM*/
input,
textarea {
  font-weight: 500;
  color: #7f8591;
  width: 100%;
  margin: 10px 0;
  padding: 15px 20px;
  border: solid 1px #dbdbdb;
}
input:focus,
textarea:focus {
  color: #7f8591;
  outline: transparent;
  border-color: #7f8591;
}
input {
  border-radius: 30px;
}
textarea {
  height: 77px;
  resize: none;
  border-radius: 20px;
}
input[type=submit] {
  background-color: #dbdbdb;
}
input[type=submit]:hover {
  opacity: 0.8;
}
/*FORM*/
