* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  min-height: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: 'Avant', Helvetica, Arial, sans-serif;
  background: #F5F5F5;
  color: #19416f;
  height: auto;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.3;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  text-decoration: none;
}
a:focus,
a:active {
  outline: none;
  outline-offset: -2px;
}
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.row {
  margin: 0 -15px;
}
p {
  font-weight: 500;
  line-height: 1.3;
  color: #3d424b;
}
.separador {
  height: 3px;
  width: 130px;
  background: #00a7f6;
  margin: 15px auto 30px;
  border-radius: 30px;
}
h2 {
  font-size: 2.5em;
  margin: 0;
  color: #3d424b;
}
h3,
h4 {
  font-size: 1em;
}
img {
  width: 100%;
}
.btn-continuar {
  color: #3fde97;
  border: solid 1px #3fde97;
  padding: 10px 25px 7px;
  border-radius: 30px;
  display: flex;
}
.btn-continuar.active {
  background: #3fde97;
  color: #fff;
}
.btn-continuar.active .icon-down-arrow-2:before {
  color: #fff;
}
.btn-continuar .icon-down-arrow-2 {
  margin-left: 5px;
  position: relative;
  top: 2px;
}
.btn-continuar:hover {
  background: #3fde97;
  color: #fff;
}
.btn-continuar:hover .icon-down-arrow-2:before {
  color: #fff;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 980px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
  body.login .container {
    width: 980px;
  }
}
@media (max-width: 992px) {
  .dashboard {
    min-width: 992px;
  }
}
/***MIDDLE BANNER***/
.middle-banner {
  background: linear-gradient(#1a44ce, #34acff);
  color: #ffffff;
  padding: 50px 0;
  margin: 80px 0;
}
.middle-banner .title {
  margin: 0 0 40px 0;
}
.middle-banner h2 {
  text-align: center;
  color: #fff;
  font-size: 2em;
}
.middle-banner .row-items {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}
.middle-banner .row-items .item {
  text-align: center;
}
.middle-banner .row-items .item p {
  color: #ffffff;
}
.middle-banner .row-items .item img {
  height: 35px;
  margin: 0 0 5px 0;
}
/***MODAL***/
/***MODAL***/
.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-window.dashboard-modal {
  text-align: center;
}
.modal-window.dashboard-modal .inside-modal {
  max-width: 500px;
}
.modal-window.dashboard-modal .inside-modal img {
  max-width: 150px;
}
.modal-window.dashboard-modal .inside-modal h3 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 30px;
  color: #171717;
}
.modal-window.dashboard-modal .inside-modal p {
  color: #707070;
  margin-top: 30px;
}
.modal-window.dashboard-modal .inside-modal p a {
  color: #1677ff;
}
.modal-window.dashboard-modal .button-modal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}
.modal-window.dashboard-modal .button-modal .cancel-button {
  color: #171717;
}
.modal-window.dashboard-modal .button-modal .continuar-button {
  border-radius: 30px;
  border: solid 1px #3fde97;
  padding: 11px 25px 8px;
  color: #3fde97;
}
.modal-window.transfer-confirm .inside-modal {
  max-width: 500px;
}
.modal-window.transfer-confirm .inside-modal h3 {
  text-align: center;
  margin: 0;
  font-size: 20px;
  color: #171717;
  margin-bottom: 5px;
}
.modal-window.transfer-confirm .inside-modal h4 {
  color: #c4c4c4;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}
.modal-window.transfer-confirm .inside-modal #receipt-content {
  border: solid #40df97 1px;
  border-radius: 9px;
  margin-bottom: 15px;
}
.modal-window.transfer-confirm .inside-modal #receipt-content > div {
  padding: 15px;
  border-bottom: solid 1px #eaeaea;
}
.modal-window.transfer-confirm .inside-modal #receipt-content > div:last-child {
  border-bottom: none;
}
.modal-window.transfer-confirm .inside-modal #receipt-content .amout-detials {
  text-align: center;
}
.modal-window.transfer-confirm .inside-modal #receipt-content .amout-detials .payment-amount {
  color: #40df97;
  font-size: 25px;
  line-height: 1;
}
.modal-window.transfer-confirm .inside-modal #receipt-content .amout-detials .payment-subtitle {
  color: #c4c4c4;
}
.modal-window.transfer-confirm .inside-modal #receipt-content .user {
  color: #1677ff;
  text-align: center;
}
.modal-window.transfer-confirm .inside-modal #receipt-content .user span:before {
  color: #707070;
  margin-right: 5px;
}
.modal-window.transfer-confirm .inside-modal #receipt-content .bank-info {
  margin: 15px 0 0;
}
.modal-window.transfer-confirm .inside-modal #receipt-content .bank-info .row-receipt {
  display: flex;
  margin-bottom: 10px;
}
.modal-window.transfer-confirm .inside-modal #receipt-content .bank-info .row-receipt.two-rows {
  flex-direction: column;
}
.modal-window.transfer-confirm .inside-modal #receipt-content .bank-info .row-receipt.two-rows input {
  width: 100%;
  border: none;
  border-bottom: solid 1px #b7b7b7;
  border-radius: 0;
  padding: 0;
}
.modal-window.transfer-confirm .inside-modal #receipt-content .bank-info .row-receipt:last-child {
  margin-bottom: 0;
}
.modal-window.transfer-confirm .inside-modal #receipt-content .bank-info .row-receipt .left {
  color: #c4c4c4;
}
.modal-window.transfer-confirm .inside-modal #receipt-content .bank-info .row-receipt .right {
  flex: 1 1 0;
  color: #707070;
}
.modal-window.transfer-confirm .inside-modal #receipt-content .receipt-download {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1b406f;
  font-weight: 600;
}
.modal-window.transfer-confirm .inside-modal #receipt-content .receipt-download img {
  max-width: 20px;
  margin-right: 5px;
}
.modal-window .inside-modal {
  width: 90%;
  max-width: 400px;
  position: absolute;
  padding: 2em;
  background: #ffffff;
  border-radius: 15px;
}
.modal-window .inside-modal .tabla-transferencia {
  display: flex;
  flex-direction: column;
}
.modal-window .inside-modal .tabla-transferencia > div {
  flex: 1 1 0;
  display: flex;
  margin-bottom: 5px;
}
.modal-window .inside-modal .tabla-transferencia .left {
  color: #707070;
}
.modal-window .inside-modal .tabla-transferencia .right {
  color: #41e097;
  margin-left: auto;
}
.modal-window.openmodal {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  background: rgba(0, 0, 0, 0.25);
}
.modal-window header {
  font-weight: bold;
}
.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}
.modal-close {
  color: #fff;
  position: absolute;
  right: -5px;
  text-align: center;
  top: 0px;
  text-decoration: none;
  background: #111;
  padding: 1px 7px 0px 8px;
  border-radius: 100%;
  cursor: pointer;
}
.modal-close img {
  width: 20px;
}
.modal-close img:hover {
  opacity: 0.5;
}
.modal-close:hover {
  opacity: 0.8;
}
/* Demo Styles */
a {
  color: inherit;
}
/* .container {
  display: grid;
  justify-content: center;
  align-items: center;
} */
small {
  color: #aaa;
}
.btn {
  border-radius: 3px;
  text-decoration: none;
}
.btn i {
  padding-right: 0.3em;
}
/*FORM*/
input,
textarea {
  font-weight: 500;
  color: #7f8591;
  width: 100%;
  margin-bottom: 10px;
  padding: 12px 15px;
  border: solid 1px #dbdbdb;
}
input:focus,
textarea:focus {
  color: #7f8591;
  outline: transparent;
  border-color: #7f8591;
}
input {
  border-radius: 30px;
}
textarea {
  height: 77px;
  resize: none;
  border-radius: 20px;
}
input[type=submit] {
  background-color: #dbdbdb;
}
input[type=submit]:hover {
  opacity: 0.8;
}
/*FORM*/
/***HEADER***/
header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 30px 0;
}
.logo {
  max-width: 230px;
}
/***HOME***/
#header-body {
  padding: 20px 0;
  position: absolute;
  top: 0;
  width: 100%;
}
#home {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position-x: right;
}
#home:before {
  content: '';
  background: url('../img/dots-bootm.png') no-repeat bottom left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
#home:after {
  content: '';
  background: url('../img/dots-top.png') no-repeat top right;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#home > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#home > .container:before {
  content: '';
  background: url('../img/bg-image.svg') no-repeat top right;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
  z-index: -1;
}
.slogan {
  max-width: 405px;
}
.slogan .txt-slogan h2 {
  color: #2b436e;
}
.slogan .txt-slogan .nav {
  display: flex;
  justify-content: space-between;
}
.slogan .txt-slogan .nav a {
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  color: #ffffff;
  border-radius: 30px;
  width: 49%;
  padding: 15px 0;
}
.slogan .txt-slogan .nav .btn-1 {
  background-color: #00a7f6;
}
.slogan .txt-slogan .nav .btn-2 {
  background-color: #19416f;
}
.title {
  text-align: center;
  margin: 80px 0 30px;
}
.title p {
  margin: 0 auto;
}
.info {
  display: flex;
  align-items: center;
}
.info .info-items {
  width: 50%;
  padding: 0 15px;
}
.info .info-items h3 {
  font-size: 2em;
  margin: 0 0 30px 0;
}
.info .info-items p {
  margin-bottom: 30px;
}
.info .info-items-image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.info .info-items-image-2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.info .info-items-image-2 img {
  padding: 30px 0 30px 30px;
  width: 85%;
}
.tarifas {
  display: flex;
  justify-content: center;
}
.tarifas .item {
  width: 45%;
  padding: 30px 75px;
  text-align: center;
}
.tarifas .item:first-child {
  border-right: dotted 5px #b7d0d8;
}
.tarifas .item h2 {
  font-size: 2.3em;
  color: #3d424b;
  margin-bottom: 30px;
}
.tarifas .item h4 {
  font-size: 1.1em;
  color: #7f8591;
}
/***FOOTER***/
.footer {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 80px;
}
.footer .item h3 {
  font-size: 1.3em;
  margin-bottom: 30px;
  color: #3d424b;
}
.footer .item .sociales {
  display: flex;
  align-items: center;
}
.footer .item .sociales img {
  width: 28px;
  margin-right: 24px;
}
.footer .item p a {
  color: #7f8591;
  text-decoration: underline;
}
.secundary-footer {
  background: #2b436e;
  padding: 20px 0;
  font-weight: 500;
}
.secundary-footer > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.secundary-footer img {
  width: 160px;
}
.secundary-footer p,
.secundary-footer a {
  color: #ffffff;
  font-size: 13px;
}
/* LOGIN */
.bg-body {
  background: linear-gradient(#0d54a8, #1ea4f6);
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100%;
}
.bg-body:before {
  content: '';
  background: url('../img/dots-bottom-login.png') no-repeat bottom left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.bg-body:after {
  content: '';
  background: url('../img/dot-top-login.png') no-repeat top right;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.bg-body .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.bg-body .login:after {
  content: '';
  background: url('../img/login-web.png') no-repeat center right;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-size: contain;
  z-index: -1;
}
.bg-body .login > .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
  justify-content: center;
  margin-top: auto;
}
.bg-body .login .logo-mobile {
  max-width: 400px;
  width: 100%;
  margin-bottom: 50px;
}
.bg-body .login .logo-mobile img {
  max-width: 300px;
}
.bg-body .login form {
  max-width: 320px;
}
.bg-body .login form input {
  background: transparent;
  color: #ffffff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  font-family: 'Avant', Helvetica, Arial, sans-serif;
  font-size: 1em;
}
.bg-body .login form input:focus,
.bg-body .login form input:active {
  outline: none;
}
.bg-body .login form input[type=submit] {
  background: #e8e8e8;
  color: #272727;
  appearance: none;
  -webkit-appearance: none;
}
.bg-body .login form input::-webkit-input-placeholder {
  color: #ffffff;
}
.bg-body .login form input:-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.bg-body .login form input::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.bg-body .login form input:-ms-input-placeholder {
  color: #ffffff;
}
.bg-body .login form p {
  font-size: 15px;
}
.bg-body .login form p a {
  color: #ffffff;
}
.mini-footer {
  margin-top: auto;
  align-self: flex-start;
  max-width: 380px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10px;
}
.mini-footer a {
  color: #ffffff;
  font-size: 12PX;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 900px), 
(height: 1024px) and (width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape) {
  #home {
    height: 70vh;
  }  
}
@media only screen and (max-width: 900px), 
(width: 1024px) and (height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait) {
  #home {
    height: 50vh;
  }  
}

@media (min-width: 769px) and (max-width: 980px) {
  .tarifas .item {
    width: 50%;
    padding: 30px 70px;
  }
  .tarifas .item h2 {
    font-size: 1.8em;
  } 
}
@media (min-width: 980px) and (max-width: 1280px) {
  .tarifas .item {
    width: 50%;
    padding: 30px 30px;
    text-align: center;
  }
}
@media (max-width: 1280px) {
  #home > .container:before {
    height: 70%;
  }
}
@media (max-width: 1200px) {
  .tarifas .item h1 {
    font-size: 2.4em;
  }
  .tarifas .item h3 {
    font-size: 1.3em;
  }
  .info .info-items h3 {
    font-size: 1.8em;
  }
}
@media (max-width: 1024px) {
  #home {
    position: relative;
    background-size: contain !important;
  }
  .bg-body:before,
  .bg-body:after {
    background-size: 100%;
  }
  .bg-body .login:after {
    display: none;
  }
  #home > .container:before {
    height: 60%;
  }
}
@media (max-width: 980px) {
  #home .container {
    align-items: center;
    text-align: center;
  }
  #home .container:before {
    display: none;
  }
  #home .slogan {
    max-width: 80%;
  }
  #home .slogan .txt-slogan h1 {
    font-size: 2em;
  }
  .slogan .txt-slogan .nav {
    justify-content: center;
  }
  .slogan .txt-slogan .nav a {
    width: 230px;
  }
  .slogan .txt-slogan .nav .btn-1 {
    margin-right: 15px;
  }
  .middle-banner {
    margin: 0 0 20px 0;
  }
  .tarifas .item h1 {
    font-size: 1.6em !important;
  }
  .tarifas .item h3 {
    font-size: 12px !important;
  }
  .secundary-footer .container img {
    max-width: 300px;
    width: 20%;
  }
  .bg-body .login form {
    max-width: 320px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  #home .slogan {
    max-width: 90%;
  }
  body p {
    font-size: 15px;
  }
  #home:before,
  #home:after {
    background-size: 100%;
  }
  .logo {
    max-width: 250px;
  }
  .info .info-items-image img {
    width: 100%;
    padding: 30px;
  }
  .info .info-items-image-2 img {
    width: 100%;
    padding: 30px;
  }
  .title {
    margin: 40px 0;
  }
  .middle-banner h2 {
    font-size: 1.5em;
  }
  .tarifas .item h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  .tarifas .item h4 {
    font-size: 15px;
  }
  .footer .item h3 {
    font-size: 1em;
  }
  .footer .item .sociales img {
    width: 20px;
  }
  .secundary-footer img {
    width: 200px;
  }
  .secundary-footer p {
    font-size: 10px;
  }
  .secundary-footer p a {
    font-size: 10px;
  }
  .slogan .txt-slogan .nav .btn-1 {
    margin: 0 0 10px 0;
  }
}
@media (max-width: 767px) {
  body h2 {
    font-size: 2em;
  }
  .logo {
    margin: 0 auto;
  }
  #home {
    position: relative;
    background-image: none;
    height: 100vh !important;
  }
  h2,
  p {
    text-align: center;
  }
  .slogan {
    max-width: inherit;
  }
  .slogan .txt-slogan .nav {
    flex-direction: column;
    align-items: center;
  }
  .info {
    flex-flow: wrap;
  }
  .info .info-items {
    width: 100%;
  }
  .info .info-items h3 {
    text-align: center;
  }
  .info .info-items p {
    text-align: justify;
  }
  .info .info-items-image,
  .info .info-items-image-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info .info-items-image img,
  .info .info-items-image-2 img {
    padding: 30px ;
  }
  .middle-banner .row-items {
    display: flex;
    flex-wrap: wrap;
  }
  .middle-banner .row-items .item {
    width: 50%;
    margin: 10px 0;
  }
  .title {
    margin: 40px 0;
  }
  .tarifas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .tarifas .item {
    width: 100%;
    padding: 40px;
  }
  .tarifas .item:first-child {
    border: none;
  }
  .tarifas .item h4 {
    text-align: center;
  }
  .footer {
    flex-flow: wrap;
  }
  .footer .item {
    width: 100%;
  }
  .footer .item h3 {
    text-align: left;
    font-size: 1em;
    margin: 20px 0;
  }
  .footer .item p {
    text-align: left;
  }
  .footer .item .sociales .item {
    width: 20%;
  }
  .footer .item .sociales .item img {
    margin: 0 15px 0 15px;
  }
  .secundary-footer > .container {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .secundary-footer > .container p,
  .secundary-footer > .container a {
    font-size: 12px;
  }
  .secundary-footer img {
    width: 200px;
    height: auto;
    margin: 0 0 10px 0;
  }
}
@media (max-height: 750px) {
  .modal-window.transfer-confirm {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-window.transfer-confirm .inside-modal {
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
  }
  .modal-window.transfer-confirm .inside-modal h3,
  .modal-window.transfer-confirm .inside-modal h4 {
    width: 100%;
  }
  .modal-window.transfer-confirm .inside-modal #receipt-content {
    border: solid #40df97 1px;
    border-radius: 9px;
    margin-bottom: 15px;
    width: calc(35%);
    margin: 0 7.5px;
  }
}
@font-face {
  font-family: 'Avant';
  src: url('../fonts/AvantGardeLT-Book.eot');
  src: url('../fonts/AvantGardeLT-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/AvantGardeLT-Book.svg#AvantGardeLT-Book') format('svg'), url('../fonts/AvantGardeLT-Book.ttf') format('truetype'), url('../fonts/AvantGardeLT-Book.woff') format('woff'), url('../fonts/AvantGardeLT-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Avant';
  src: url('../fonts/ITCAvantGardeStd-Md.eot');
  src: url('../fonts/ITCAvantGardeStd-Md.eot?#iefix') format('embedded-opentype'), url('../fonts/ITCAvantGardeStd-Md.svg#ITCAvantGardeStd-Md') format('svg'), url('../fonts/ITCAvantGardeStd-Md.ttf') format('truetype'), url('../fonts/ITCAvantGardeStd-Md.woff') format('woff'), url('../fonts/ITCAvantGardeStd-Md.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avant';
  src: url('../fonts/AvantGardeLT-Demi.eot');
  src: url('../fonts/AvantGardeLT-Demi.eot?#iefix') format('embedded-opentype'), url('../fonts/AvantGardeLT-Demi.svg#AvantGardeLT-Demi') format('svg'), url('../fonts/AvantGardeLT-Demi.ttf') format('truetype'), url('../fonts/AvantGardeLT-Demi.woff') format('woff'), url('../fonts/AvantGardeLT-Demi.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'janus';
  src: url('../fonts/icomoon.eot?yzk3s4');
  src: url('../fonts/icomoon.eot?yzk3s4#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?yzk3s4') format('truetype'), url('../fonts/icomoon.woff?yzk3s4') format('woff'), url('../fonts/icomoon.svg?yzk3s4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/***VARIABLES***/
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'janus' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-alert-2 .path1:before {
  content: "\e901";
  color: #717070;
}
.icon-alert-2 .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: #717070;
}
.icon-alert-2 .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: #717070;
}
.icon-alert-2 .path4:before {
  content: "\e904";
  margin-left: -1em;
  color: #717070;
}
.icon-alert-2 .path5:before {
  content: "\e905";
  margin-left: -1em;
  color: #e52421;
}
.icon-alert:before {
  content: "\e906";
  color: #717070;
}
.icon-arrow-down:before {
  content: "\e907";
}
.icon-ayuda:before {
  content: "\e908";
  color: #707070;
}
.icon-cerrar-sesion:before {
  content: "\e909";
  color: #707070;
}
.icon-check:before {
  content: "\e90a";
  color: #67bb8c;
}
.icon-correo-electronico:before {
  content: "\e90b";
  color: #707070;
}
.icon-down-arrow-2:before {
  content: "\e90c";
  color: #40df97;
}
.icon-efectivo:before {
  content: "\e90d";
  color: #707070;
}
.icon-equis:before {
  content: "\e90e";
  color: #e8451d;
}
.icon-flash:before {
  content: "\e90f";
  color: #1677ff;
}
.icon-gear:before {
  content: "\e910";
  color: #717070;
}
.icon-minus:before {
  content: "\e912";
  color: #30bad1;
}
.icon-recarga-telefonica:before {
  content: "\e913";
  color: #707070;
}
.icon-transacciones:before {
  content: "\e914";
  color: #707070;
}
.icon-transferencia-bancaria:before {
  content: "\e915";
  color: #707070;
}
.icon-user:before {
  content: "\e916";
  color: #707070;
}
/***DASHBOARD***/
.dashboard {
  background-color: #f2f2f2;
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.dashboard:before {
  content: '';
  background: url('../img/dots-bootm.png') no-repeat bottom left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.dashboard:after {
  content: '';
  background: url('../img/dots-top.png') no-repeat top right;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.dashboard:before,
.dashboard:after {
  background-size: 400px;
}
.dashboard .header-dashboard {
  padding: 30px 0 15px;
}
.dashboard .header-dashboard > .container {
  display: flex;
  justify-content: space-between;
}
.dashboard .header-dashboard > .container .logo-dashboard {
  max-width: 230px;
}
.dashboard .header-dashboard > .container .nav {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  justify-content: space-between;
}
.dashboard .header-dashboard > .container .nav .item {
  padding: 0 22px;
}
.dashboard .header-dashboard > .container .nav .item:first-child {
  border-right: solid 1px #e8e8e8;
}
.dashboard .header-dashboard > .container .nav .item h3 {
  margin: 0;
  font-weight: 400;
  text-align: left;
}
.dashboard .header-dashboard > .container .nav .item .title {
  color: #707070;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.dashboard .header-dashboard > .container .nav .item .subtitle-1 {
  color: #40df97;
  font-size: 1.4em;
}
.dashboard .header-dashboard > .container .nav .item .subtitle-2 {
  color: #1abfd5;
  font-size: 1.4em;
}
.dashboard .header-dashboard > .container .nav .icon-rounded {
  padding: 10px;
  border-radius: 30px;
  display: flex;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  margin: 0 10px 0 0;
  background-color: #fff!important;
  cursor: pointer;
  position: relative;
}
.dashboard .header-dashboard > .container .nav .icon-rounded:hover {
  background-color: #1f3c6f!important;
}
.dashboard .header-dashboard > .container .nav .icon-rounded:hover ul {
  display: block;
}
.dashboard .header-dashboard > .container .nav .icon-rounded:hover span:before {
  color: #fff!important;
}
.dashboard .header-dashboard > .container .nav .icon-rounded span:before {
  font-size: 1.3em;
}
.dashboard .header-dashboard > .container .nav .icon-rounded ul {
  display: none;
  padding: 0;
  list-style: none;
  font-family: 'Avant';
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
  margin: 20px 0 0px;
  margin: 0;
  top: 150%;
  width: 300px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  z-index: 200;
}
.dashboard .header-dashboard > .container .nav .icon-rounded ul:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: -15px;
  left: 50%;
  margin-left: -15px;
}
.dashboard .header-dashboard > .container .nav .icon-rounded ul:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: -25px;
  z-index: -1;
}
.dashboard .header-dashboard > .container .nav .icon-rounded ul li {
  background: #fff;
  padding: 17px 25px 0px;
  color: #707070;
  font-weight: 500;
}
.dashboard .header-dashboard > .container .nav .icon-rounded ul li:first-child {
  border-radius: 6px 6px 0 0;
  color: #171717;
  border-bottom: solid 1px #f0f0f0;
  padding: 13px 25px 7px;
}
.dashboard .header-dashboard > .container .nav .icon-rounded ul li:last-child {
  border-radius: 0 0 6px 6px;
  padding: 17px 25px 10px;
}
.dashboard .header-dashboard > .container .nav .user {
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  color: #707070;
  font-weight: 500;
}
.dashboard .header-dashboard > .container .nav .user .user-img {
  width: 15px;
}
.dashboard .header-dashboard > .container .nav .user > div {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.dashboard .header-dashboard > .container .nav .user img,
.dashboard .header-dashboard > .container .nav .user .polygon-1 {
  margin: 0px 5px;
  display: inline-block;
}
.dashboard .header-dashboard > .container .nav .user .polygon-1 {
  width: 10px;
  height: 15px;
}
.dashboard #sub-menu-container {
  display: flex;
  align-items: center;
  padding: 15px 0;
}
.dashboard #sub-menu-container .container .sub-menu {
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  margin-left: 250px;
}
.dashboard #main-menu-dashboard {
  flex: 2 1 0;
}
.dashboard #main-menu-dashboard > .container {
  display: flex;
  align-content: center;
}
.dashboard #main-menu-dashboard .sidebar-menu {
  max-width: 250px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  flex: 1 1 0;
}
.dashboard #main-menu-dashboard .sidebar-menu a {
  color: #707070;
  font-weight: 500;
}
.dashboard #main-menu-dashboard .sidebar-menu .title {
  width: 100%;
  margin: 0;
}
.dashboard #main-menu-dashboard .sidebar-menu .menu-dashboard {
  width: 100%;
}
.dashboard #main-menu-dashboard .sidebar-menu .menu-dashboard h3 {
  font-size: 1em;
  margin: 23px 0;
  color: #171717;
  font-weight: 400;
}
.dashboard #main-menu-dashboard .sidebar-menu .menu-dashboard a {
  display: flex;
  align-items: center;
  padding: 7.5px 0;
  display: block;
}
.dashboard #main-menu-dashboard .sidebar-menu .menu-dashboard a:hover,
.dashboard #main-menu-dashboard .sidebar-menu .menu-dashboard a.active {
  background: #cde4ff;
  color: #1677ff;
  border-radius: 2px 0 0 2px;
}
.dashboard #main-menu-dashboard .sidebar-menu .menu-dashboard a:hover span:before,
.dashboard #main-menu-dashboard .sidebar-menu .menu-dashboard a.active span:before {
  color: #1677ff;
}
.dashboard #main-menu-dashboard .sidebar-menu .menu-dashboard a img,
.dashboard #main-menu-dashboard .sidebar-menu .menu-dashboard a span {
  width: 17px;
  top: 2px;
  position: relative;
  margin: 0 15px;
}
.dashboard #main-menu-dashboard .main {
  background-color: #ffffff;
  flex: 1 1 0;
}
.dashboard #main-menu-dashboard .main .breadcrumb {
  border-bottom: solid 1px #f5f5f5;
  padding: 23px 15px 17px;
  margin-bottom: 30px;
  font-weight: 500;
}
.dashboard #main-menu-dashboard .main .breadcrumb a {
  color: #171717;
}
.dashboard #main-menu-dashboard .main .items-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0px 0 20px;
  margin: 30px;
  justify-content: space-between;
}
.dashboard #main-menu-dashboard .main .items-nav .item {
  text-align: center;
  position: relative;
}
.dashboard #main-menu-dashboard .main .items-nav .item.no-border:before {
  display: none;
}
.dashboard #main-menu-dashboard .main .items-nav .item:before {
  content: '';
  width: 1px;
  height: 80%;
  position: absolute;
  right: -20%;
  top: 4px;
  background: #f5f5f5;
}
.dashboard #main-menu-dashboard .main .items-nav .item h3 {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  color: #707070;
  margin-bottom: 20px;
}
.dashboard #main-menu-dashboard .main .items-nav .item div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard #main-menu-dashboard .main .items-nav .item div span {
  font-size: 2.8em;
}
.dashboard #main-menu-dashboard .main .items-nav .item div span.icon-flash {
  margin-right: 20px;
}
.dashboard #main-menu-dashboard .main .items-nav .item div h4 {
  font-size: 20px;
  color: #1677ff;
  font-weight: 500;
  margin: 0;
}
.dashboard #main-menu-dashboard .main #transferir-correo {
  padding: 0px 0 20px;
  margin: 0 30px 30px;
}
.dashboard #main-menu-dashboard .main #transferir-correo .row {
  display: flex;
}
.dashboard #main-menu-dashboard .main #transferir-correo .row > div {
  flex: 1 1 0;
  padding: 0 15px;
}
.dashboard #main-menu-dashboard .main #transferir-correo #input-transferencias form > label {
  color: #171717;
  display: block;
  margin-bottom: 15px;
  position: relative;
}
.dashboard #main-menu-dashboard .main #transferir-correo #input-transferencias form > label .row-inputs {
  display: flex;
  margin: 0 -7.5px;
}
.dashboard #main-menu-dashboard .main #transferir-correo #input-transferencias form > label .row-inputs > input {
  margin: 0 7.5px;
}
.dashboard #main-menu-dashboard .main #transferir-correo #input-transferencias form > label > label {
  margin-bottom: 5px;
  display: block;
}
.dashboard #main-menu-dashboard .main #transferir-correo #input-transferencias form select {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  color: #7f8591;
}
.dashboard #main-menu-dashboard .main #transferir-correo #input-transferencias form select + span {
  position: absolute;
  bottom: 15px;
  right: 15px;
  pointer-events: none;
}
.dashboard #main-menu-dashboard .main #transferir-correo #input-transferencias form input,
.dashboard #main-menu-dashboard .main #transferir-correo #input-transferencias form textarea,
.dashboard #main-menu-dashboard .main #transferir-correo #input-transferencias form select {
  border-radius: 5px;
  padding: 14px 15px 10px;
  margin: 0;
  border: solid 1px #e8e8e8;
}
.dashboard #main-menu-dashboard .main #transferir-correo #input-transferencias form input option:disabled,
.dashboard #main-menu-dashboard .main #transferir-correo #input-transferencias form textarea option:disabled,
.dashboard #main-menu-dashboard .main #transferir-correo #input-transferencias form select option:disabled {
  color: red;
}
.dashboard #main-menu-dashboard .main #transferir-correo #input-transferencias form input::-webkit-input-placeholder,
.dashboard #main-menu-dashboard .main #transferir-correo #input-transferencias form textarea::-webkit-input-placeholder,
.dashboard #main-menu-dashboard .main #transferir-correo #input-transferencias form select::-webkit-input-placeholder {
  color: #e8e8e8;
}
.dashboard #main-menu-dashboard .main #transferir-correo #input-transferencias form input:-moz-placeholder,
.dashboard #main-menu-dashboard .main #transferir-correo #input-transferencias form textarea:-moz-placeholder,
.dashboard #main-menu-dashboard .main #transferir-correo #input-transferencias form select:-moz-placeholder {
  color: #e8e8e8;
  opacity: 1;
}
.dashboard #main-menu-dashboard .main #transferir-correo #input-transferencias form input::-moz-placeholder,
.dashboard #main-menu-dashboard .main #transferir-correo #input-transferencias form textarea::-moz-placeholder,
.dashboard #main-menu-dashboard .main #transferir-correo #input-transferencias form select::-moz-placeholder {
  color: #e8e8e8;
  opacity: 1;
}
.dashboard #main-menu-dashboard .main #transferir-correo #input-transferencias form input:-ms-input-placeholder,
.dashboard #main-menu-dashboard .main #transferir-correo #input-transferencias form textarea:-ms-input-placeholder,
.dashboard #main-menu-dashboard .main #transferir-correo #input-transferencias form select:-ms-input-placeholder {
  color: #e8e8e8;
}
.dashboard #main-menu-dashboard .main #transferir-correo #detalle-movimiento {
  max-width: 350px;
}
.dashboard #main-menu-dashboard .main #transferir-correo #detalle-movimiento h3 {
  color: #171717;
  margin: 0;
  margin-bottom: 15px;
}
.dashboard #main-menu-dashboard .main #transferir-correo #detalle-movimiento .container-movimientos .row-movimientos {
  margin-bottom: 15px;
  display: flex;
}
.dashboard #main-menu-dashboard .main #transferir-correo #detalle-movimiento .container-movimientos .row-movimientos > div {
  flex: 1 1 0;
}
.dashboard #main-menu-dashboard .main #transferir-correo #detalle-movimiento .container-movimientos .row-movimientos .left {
  color: #707070;
}
.dashboard #main-menu-dashboard .main #transferir-correo #detalle-movimiento .container-movimientos .row-movimientos .right {
  color: #41e097;
  text-align: right;
}
.dashboard #main-menu-dashboard .main #transferir-correo #detalle-movimiento .container-movimientos .btn-continuar {
  width: 100%;
  justify-content: center;
}
.dashboard #main-menu-dashboard .main #available-countries {
  margin: 30px;
}
.dashboard #main-menu-dashboard .main #available-countries h3 {
  font-size: 1em;
  color: #171717;
  margin: 0;
  margin-bottom: 30px;
}
.dashboard #main-menu-dashboard .main #available-countries .row {
  margin: 0 -7.5px;
}
.dashboard #main-menu-dashboard .main #available-countries .row a {
  padding: 0 7.5px;
  display: inline-block;
}
.dashboard #main-menu-dashboard .main #available-countries .row img {
  max-width: 40px;
}
.dashboard #main-menu-dashboard .main #ultimas-transacciones {
  margin-bottom: 50px;
}
.dashboard #main-menu-dashboard .main #ultimas-transacciones h3 {
  font-family: 'Avant';
  text-align: left;
  padding: 0 20px 30px;
  border-bottom: solid 1px #f5f5f5;
  font-weight: 500;
  color: #171717;
}
.dashboard #main-menu-dashboard .main #ultimas-transacciones .row-dashboard {
  border-bottom: solid 1px #f5f5f5;
  display: flex;
  align-items: center;
  margin: 0 40px;
  padding: 10px 0;
}
.dashboard #main-menu-dashboard .main #ultimas-transacciones .row-dashboard.headers-row div {
  color: #171717;
}
.dashboard #main-menu-dashboard .main #ultimas-transacciones .row-dashboard .column-1 {
  flex: 1 1 100px;
  color: #707070;
}
.dashboard #main-menu-dashboard .main #ultimas-transacciones .row-dashboard .column-2 {
  flex: 1 1 0;
  flex-grow: 100;
}
.dashboard #main-menu-dashboard .main #ultimas-transacciones .row-dashboard .column-2 .sub-title {
  color: #1b406f;
  margin-bottom: 10px;
}
.dashboard #main-menu-dashboard .main #ultimas-transacciones .row-dashboard .column-2 .name-detalle {
  color: #1677ff;
}
.dashboard #main-menu-dashboard .main #ultimas-transacciones .row-dashboard .column-3 {
  flex: 1 1 90px;
  text-align: center;
}
.dashboard #main-menu-dashboard .main #ultimas-transacciones .row-dashboard .column-3 img {
  width: 15px;
}
.dashboard #main-menu-dashboard .main #ultimas-transacciones .row-dashboard .column-4 {
  flex: 1 1 70px;
  text-align: center;
}
.dashboard #main-menu-dashboard .main #ultimas-transacciones .row-dashboard .column-4.blue {
  color: #1abfd5;
}
.dashboard #main-menu-dashboard .main #ultimas-transacciones .row-dashboard .column-4.green {
  color: #40df97;
}
.dashboard #main-menu-dashboard .main #ultimas-transacciones .row-dashboard .column-4.red {
  color: #f34213;
}
.dashboard #main-menu-dashboard .main #ultimas-transacciones .row-dashboard p {
  line-height: 5px;
}
.dashboard #main-menu-dashboard .main .main-nav-footer {
  margin: 10px 0;
  padding: 0 20px;
}
.dashboard #main-menu-dashboard .main .main-nav-footer a {
  color: #707070;
  padding: 0 15px;
  position: relative;
  font-size: 12px;
}
.dashboard #main-menu-dashboard .main .main-nav-footer a:before {
  content: '';
  width: 2px;
  height: 90%;
  background: #707070;
  position: absolute;
  right: 0;
  top: -1px;
  border-radius: 20px;
}
