* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
    min-height: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
	font-family: @main-font, Helvetica, Arial, sans-serif;;
  background: #F5F5F5;
  color: @primary-color;
  height: auto;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.42857143;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  text-decoration: none;
}

a:focus,
a:active{
  outline: none;
  outline-offset: -2px;
}
// > div { 
//     display: flex;
// }

input{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.row{
    margin:0 -15px;
}

p {
    font-weight: 500;
    line-height: 21px;
    color: #3d424b;
}

.separador {
    height: 5px;
    width: 166px;
    background: @secundary-color;
    margin: 30px auto;

}

h2{
    font-size: 2.5em;
}
h3,h4{
  font-size: 1em;
}
img{
    width: 100%;
}


.container-fixed() {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container{
    .container-fixed();
    @media (min-width: @screen-sm-min) {
        width: 100%;
    }
    @media (min-width: @screen-md-min) {
        width: @container-md;
        
    }
    @media (min-width: @screen-lg-min) {
        width: @container-lg;
    }
}
.dashboard{
  @media (max-width: @screen-md-min) {
    min-width: 992px;
  }
}