body {
	font-family: @main-font;
    background: #F5F5F5;
    color: @primary-color;
	font-size: 15px;
    height: auto;
    margin: 0;
    padding: 0;
}
> div { 
    display: flex;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.container{
    @media (max-width: @screen-xs-min) {
        width: 100%;
    }
    @media (min-width: @screen-xs-min) {
        width: 100%;
    }
    @media (min-width: @screen-sm-min) {
        width: 100%;
    }
    @media (min-width: @screen-md-min) {
        width: @container-md;
        
    }
    @media (min-width: @screen-lg-min) {
        width: @container-lg;
    }
}

.row{
    margin:0 -15px;
}
    
a {
text-decoration: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    font-weight: 500;
    line-height: 21px;
    color: #3d424b;
}

.separador {
    height: 5px;
    width: 166px;
    background: @secundary-color;
    margin: 30px auto;

}

h2 {
    font-size: 2.5em;
}
img{
    width: 100%;
}