////////////////////////////////////////
           /***MODAL***/
////////////////////////////////////////
/***MODAL***/
.modal-window {
    position: fixed;
    background: rgba(0, 0, 0, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    &.openmodal{
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
    &.dashboard-modal{
        text-align:center;
        .inside-modal{
            max-width: 500px;
            img{
                max-width: 150px;
            }
            p{
                color:#707070;
                margin-top:30px;
                a{
                    color:#1677ff;
                }
            }
        }
    }
    &.transfer-confirm{
        overflow-y: scroll;
        .inside-modal{
            width: 500px;
            flex-direction: column;
            top: 0;
            margin: 25px 0;
            padding: 15px;
            #receipt-content{
                background-color: #f9f9f9;
                border:solid #40df97 1px;
                margin-bottom: 10px;
                border-radius: 5px 5px 0px 0px;
                &:last-child {
                    margin-bottom: 0px;
                    border-radius: 0px 0px 5px 5px;
                }
                > div{
                    padding: 15px 20px;
                    border-bottom: solid 1px #eaeaea;
                    &:last-child{
                        border-bottom: none;
                    }
                }
                .amout-detials{
                    text-align:center;
                    padding: 20px 0 15px;
                    .payment-amount{
                        color: #40df97;
                        font-size: 30px;
                        line-height: 1em;
                    }
                    .payment-subtitle{
                        color: #c4c4c4;
                        font-size: 13px;
                    }
                }
                .user{
                    color:#1677ff;
                    text-align: center;
                    span:before{
                        color:#1677ff;
                        margin-right: 10px;
                    }
                }
                .bank-info{
                    padding: 20px;
                    .row-receipt{
                        margin-bottom: 10px;
                        &.two-rows{
                            flex-direction: column;
                            input{
                                width: 100%;
                                border: none;
                                border-bottom: solid 1px #b7b7b7;
                                border-radius: 0;
                                padding: 0;
                            }
                        }
                        &:last-child{
                            margin-bottom:0;
                        }
                        .left{
                            color:#c4c4c4;
                            .right{
                                color:#707070;
                            }
                        } 
                    }
                }
                .receipt-download{
                    display: flex;
                    align-items:center;
                    justify-content: center;
                    color: #1b406f;
                    font-weight: 500;
                    img{
                        width: 20px;
                        margin-right: 10px;
                    }
                }
            }
        }
        .dashboard-modal .button-modal{
            flex-direction:column;
            .cancel-button{
                margin-bottom:15px;
            }
        }
        .inside-modal{
            .tabla-transferencia{
                .left{
                    text-align: left;
                }
                .right{
                    max-width: 190px;
                    text-align: right;
                }
            }
        }
    }
    .inside-modal {
        width: 90%;
        position: absolute;
        padding: 25px;
        background: #f2f2f2;
        border-radius: 10px;
        .reference-icon {
            height: 100px;
        }
        .modal-close {
            color: #fff;
            position: absolute;
            right: 20px;
            top: 20px;
            cursor: pointer;
            opacity:0.6;
            &:hover {
                opacity:1;
            }
            img {
                width: 20px;
                &:hover {
                    opacity: 1;
                }
            }
        }
        .date-title {
            margin: 20px 0;
            text-align: center;
            h3{
                font-size: 18px;
                color: #171717;
                font-weight: 500;
                margin: 0;
            }
            h4 {
                color: #c4c4c4;
                text-align:center;
                font-weight: 500;
                margin-top: 5px;
            }
        }
        .button-modal{
            display: flex;
            justify-content: center;
            align-items:center;
            margin-top: 20px;
            .cancel-button{
                border: 1px solid #f2f2f2;
                width: 145px;
                text-align: center;
                color: #707070;
                &:hover {
                    background-color: rgba(255,255,255,0);
                    color: #707070;
                }
            }
        }
        .tabla-transferencia{
            display: flex;
            flex-direction: column;
            > div{
                flex:1 1 0;
                display: flex;
                margin-bottom: 10px;
            }
            .left{
                color: #707070;
            }
            .right{
                color: #41e097;
                margin-left:auto;
            }
        }
        &.landing {
            width: 400px;
            h2 {
                font-size: 20px;
                margin: 0 0 25px 0;
                color: #3d424b;
            }
        }
    }
}

/* Demo Styles */
a {
  color: inherit;
}

/* .container {
  display: grid;
  justify-content: center;
  align-items: center;
} */

small {
  color: #aaa;
}

.btn {
  border-radius: 3px;
  text-decoration: none;
}

.btn i {
  padding-right: 0.3em;
}

/*FORM*/
input, textarea {
  font-weight: 500;
  color: #7f8591;
  width: 100%;
  margin-bottom: 10px;
  padding: 14px 20px 12px;
  border: solid 1px #dbdbdb;
  font-size: 14px;
}
input:focus, textarea:focus {
  color: #7f8591;
  outline: transparent;
  border-color: #7f8591;
}

input {
  border-radius: 5px;
}

textarea {
  height: 80px;
  resize: none;
  border-radius: 5px;
}

input[type=submit] {
  background-color: #dbdbdb;
}
input[type=submit]:hover {
  opacity: 0.8;
}

/*FORM*/
