@import 'general.less';
@import 'middle-banner.less';
@import 'modal.less';
@import 'header.less';
@import 'home.less';
@import 'footer.less';
@import 'login.less';
@import 'dashboard.less';
@import 'media-q.less';
@import 'font-files.less';
@import 'variables.less';
@media (max-width: 767px) {
.dashboard{
    &:before,
    &:after{
        display: none;
    }
    &.modal-on{
        overflow: hidden;
    }
    .header-dashboard {
        padding:0;
        > .container{
            flex-direction: column;
            display: block;
            padding: 25px 0 0;
            .logo-dashboard{
                align-self: center;
                max-width: inherit;
                border-bottom:solid 1px #e8e8e8;
                text-align:center;
                padding-bottom: 10px;
                img{
                    max-width: 230px;
                }
            }
            .nav{
                flex-direction: column;
                max-width: inherit;
                background:#fff;
                .menu-notifications{
                    order:-1;
                    width: 100%;
                    max-width: inherit;
                    text-align: center;
                    border-bottom: solid 1px #e8e8e8;
                    position: relative;
                    > div{
                        width: ~"calc(100% / 4)"!important;
                        background: #f2f2f2!important;
                    }
                    .menu-mobile{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        &.active{
                            background-color: #1f3c6f !important;
                            span{
                                background:#fff;
                                &.top{
                                    transform:rotate(45deg);
                                    top: 3px;
                                }
                                &.bottom{
                                    transform:rotate(-45deg);
                                    top: -3px;
                                }
                                &.middle{
                                    opacity: 0;
                                }
                            }
                        }
                        span{
                            width: 30px;
                            height: 3px;
                            background:#707070;
                            border-radius: 50px;
                            position: relative;
                            opacity: 1;
                            transition:all .4s ease-out;
                            &.top{
                                top:-5px;
                            }
                            &.middle{
                                top:0px;   
                            }
                            &.bottom{
                                top:5px;
                            }
                        }
                    }
                    .icon-rounded{
                        height: inherit;
                        background: #f2f2f2!important;
                        box-shadow: inherit;
                        font-size: 1.2em;
                        border-radius: inherit;
                        padding: 11px 0;
                        display: block;
                        position:unset;
                        &.active{
                            background-color: #1f3c6f !important;
                            span:before{
                                color: #fff !important;
                            }
                        }
                        ul{
                            width: 100%;
                            top: 46px;
                            left: 0;
                            transform: inherit;
                            text-align: left;
                            li{
                                padding: 25px 25px 0px;
                                &:first-child{
                                    padding: 27px 25px 21px;
                                }
                                &:last-child{
                                    padding: 25px 25px 21px;
                                }
                            }
                            &:before,
                            &:after{
                                display: none;
                            }
                        }
                    }
                    .user{
                        background: transparent;
                        box-shadow: inherit;
                        width: inherit;
                        height:inherit;
                        padding: 11px 0 5px;
                        border-radius: inherit;
                        &.active{
                            background-color: #1f3c6f !important;
                            svg path{
                                fill:#fff;
                            }
                        }
                        .user-img{
                            width: 20px;
                        }
                        .polygon-1, > div{
                            display: none!important;
                        }
                    }
                }
                .available-money{
                    padding: 15px 0 10px;
                    border-bottom: solid 1px #e8e8e8;
                    margin-bottom: 15px;
                }
            }
        }
    }
    #sub-menu-container{
        background:#fff;
        padding:0;
        position: absolute;
        width: 100%;
        top: 142px;
        display: none;
        z-index: 100;
        .container{
            width: 100%;
            .sub-menu{
                max-width: inherit;
                margin-left: inherit;
                flex-direction: column;
                text-align: center;
                visibility: hidden;
                display: none;
                &#messages-slide{
                    display: none;
                    a{
                        color: #707070;
                        text-align:left;
                        &:first-child{
                            color: #171717;    
                        }
                    }
                }
                a{
                    padding: 18px 0 15px;
                    border-bottom:solid 1px #e8e8e8;
                    color: #171717;
                    &:last-child{
                        border-bottom:0;
                    }
                }
            }
        }
    }
    #main-menu-dashboard{
        background:#fff;
        .container{
            flex-direction: column;
            padding:0;
            padding-bottom: 40px;
            .sidebar-menu{
                max-width: inherit;
                padding:0 15px;
                .menu-dashboard{
                    h3{
                        &:before{
                            content:'+';
                            margin-right: 2px;
                            display: inline-block;
                            font-size: 1.2em;
                            transition: all .4s ease-in;
                        }
                        &.active{
                            &:before{
                                transform:rotate(-45deg);
                            }
                        }
                        & + div{
                            display: none;
                        }
                    }
                    &#shortcuts{
                        .title{
                            display: none;
                        }
                        a{
                            padding: 12.5px 35px 8.5px;
                            border-radius: 20px;
                            border: solid 1px;
                            display: flex;
                            align-items: center;
                            margin-bottom: 20px;
                            span{
                                top: -1px;
                                position: relative;
                                margin: 0 15px;
                                font-size: 1.5em;
                            }
                        }
                    }
                }
            }
        }
        .main{
            order: -1;
            position: inherit;
            .breadcrumb{
                padding: 23px 0px 17px;
                display: none;
            }
            .items-nav{
                margin: 15px;
                flex-direction: column;
                .item{
                    margin-bottom: 15px;
                    padding-bottom: 15px;
                    border-bottom: 1px solid #f5f5f5;
                    width: 100%;
                    &.no-border{
                        border-bottom: none;
                    }
                    &:before{
                        display: none;
                    }
                }
            }
            #ultimas-transacciones {
                padding:0 15px;
                margin-bottom: 0;
                h3{
                    padding:0;
                    border-bottom:0;
                        &:before{
                            content:'+';
                            margin-right: 2px;
                            display: inline-block;
                            font-size: 1.2em;
                            transition: all .4s ease-in;
                        }
                        &.active{
                            &:before{
                                transform:rotate(-45deg);
                            }
                        }
                        & + div{
                            display: none;
                        }
                    }
                .row-dashboard{
                    margin: 0 0 10px;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    > div{
                        flex:inherit!important;
                        width: 100%;
                    }
                    &.headers-row{
                        display:none;
                    }
                    .column-1{
                        margin-bottom: 15px;
                    }
                    .column-2{
                        margin-bottom: 15px;
                        .sub-title{
                            margin-bottom: 5px;
                        }
                    }
                    .column-3,
                    .column-4{
                        width: 50%;
                    }
                    .column-3{
                        text-align:left;
                        span{
                            &:first-child{
                                margin-right: 5px;
                            }
                        }
                        .status{
                            display: inline-block;
                        }
                        &.hold{
                            color: #1abfd5;
                        }
                        &.complete{
                            color:#40df97;
                        }

                        &.cancel{
                            color:#f34213;
                        }
                    }
                    .column-4{
                        &:before{
                            content:'Monto: ';
                            display: inline-block;
                            margin-right: 5px;
                        }
                    }
                }
            }
            .main-nav-footer {
                padding:0;
                position: absolute;
                bottom: 0;
                width: 100%;
                .row{
                    margin:0;
                    display: flex;
                    justify-content: space-evenly;
                }
                a{
                    padding:0;
                    font-size: 9px;
                    &:before{
                        display: none;
                    }
                }
            }
            #available-countries{
                margin:15px;
            }
            #transferir-correo .row{
                flex-direction: column;
                > div{
                    padding:0;
                }
            }
            #main-config .block-config{
                padding:0 15px 0;
                .row-config{
                    flex-direction: column;
                    align-items: flex-start;
                    h4{
                        margin-left:0;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}

.modal-window{
    &.transfer-confirm{
            overflow-y: scroll;
            .inside-modal{
            flex-direction: column;
            top: 0;
            margin: 15px 0;
            padding:15px;
            #receipt-content{
                width: 100%;
                margin: 0 0 25px;
            }
        }
    }
    .dashboard-modal .button-modal{
        flex-direction:column;
        .cancel-button{
            margin-bottom:15px;
        }
    }
    .inside-modal{
        .tabla-transferencia{
            .left{
                text-align: left;
            }
            .right{
                max-width: 190px;
                text-align: right;
            }
        }
    }
}
}












