////////////////////////////////////////
            /***VARIABLES***/
////////////////////////////////////////

@primary-color: #19416F;   
@secundary-color: #00A7F6;   
@main-font: 'Avant';


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'janus'!important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@grid-gutter-width:         30px;
//** Deprecated `@screen-xs` as of v3.0.1
@screen-xs:                  480px;
//** Deprecated `@screen-xs-min` as of v3.2.0
@screen-xs-min:              @screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
@screen-phone:               @screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-lg-desktop:          @screen-lg-min;
// Small screen / tablet
@container-tablet:           (720px + @grid-gutter-width);
//** For `@screen-sm-min` and up.
@container-sm:               @container-tablet;

// Medium screen / desktop
@container-desktop:          (940px + @grid-gutter-width);
//** For `@screen-md-min` and up.
@container-md:                @container-desktop;

// Large screen / wide desktop
@container-large-desktop:      (1140px + @grid-gutter-width);
//** For `@screen-lg-min` and up.
@container-lg:                @container-large-desktop;

.icon-alert-2 .path1:before {
  content: "\e901";
  color: rgb(113, 112, 112);
}
.icon-alert-2 .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(113, 112, 112);
}
.icon-alert-2 .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(113, 112, 112);
}
.icon-alert-2 .path4:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(113, 112, 112);
}
.icon-alert-2 .path5:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(229, 36, 33);
}
.icon-alert:before {
  content: "\e906";
  color: #717070;
}
.icon-arrow-down:before {
  content: "\e907";
}
.icon-ayuda:before {
  content: "\e908";
  color: #707070;
}
.icon-cerrar-sesion:before {
  content: "\e909";
  color: #707070;
}
.icon-check:before {
  content: "\e90a";
  color: #67bb8c;
}
.icon-correo-electronico:before {
  content: "\e90b";
  color: #707070;
}
.icon-down-arrow-2:before {
  content: "\e90c";
  color: #40df97;
}
.icon-efectivo:before {
  content: "\e90d";
  color: #707070;
}
.icon-equis:before {
  content: "\e90e";
  color: #e8451d;
}
.icon-flash:before {
  content: "\e90f";
  color: #1677ff;
}
.icon-gear:before {
  content: "\e910";
  color: #717070;
}
.icon-minus:before {
  content: "\e912";
  color: #30bad1;
}
.icon-recarga-telefonica:before {
  content: "\e913";
  color: #707070;
}
.icon-transacciones:before {
  content: "\e914";
  color: #707070;
}
.icon-transferencia-bancaria:before {
  content: "\e915";
  color: #707070;
}
.icon-user:before {
  content: "\e916";
  color: #707070;
}


