////////////////////////////////////////
             /***HOME***/
////////////////////////////////////////
#header-body{
    padding:15px 0;
    position:absolute;
    top:0;
    width: 100%;
}
#home {
    position: relative;
    height: 90vh;
    background-size:cover!important;
    > .container{
        height: 100%;
        display: flex;
        flex-direction:column;
        justify-content: center;
    }
}

.title {
    text-align: center;
    margin: 80px 0;

    h1 {
        font-size: 3em;
    }

    p {
        margin: 0 auto;
    }  
}
.info {
    margin: 30px 0;
    display: flex;
    align-items: center;
    .info-items {
        width: 50%;
        padding:0 15px;
        h3 {
            font-size: 2em;
            margin: 30px 0;
        }
        p {
            margin-bottom: 30px;
        }

    }
    .info-items-image{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        img {
            padding: 30px 0 30px 30px;
            width: 80%;
        }
    }

    .info-items-image-2 {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        img {
            padding: 30px 0 30px 30px;
            width: 80%;
            width: 80%;
        }
    }
}

.tarifas {
    display: flex;
    .item{
        width: 50%;
        padding: 60px;
        &:first-child{       
            border-color: #cacaca;
        }
        h1 {
            font-size: 2.5em !important;
            color: #3d424b;
            margin-bottom: 50px;
        }
        h3 {
           font-size: 1.5em;
           color: #7f8591; 
        }
    }
}