////////////////////////////////////////
            /***LOGIN***/
////////////////////////////////////////

.bg-body {
    background: linear-gradient( #0d54a8, #1ea4f6);
    background: url('../img/bg-login.png') no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    height: 100vh;

}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    > .container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        align-items: flex-start;
        justify-content: center;
        margin-top: auto;
    }

        .logo-mobile {
            max-width:400px;
            width: 100%;
            margin: 20px 0;
            img{
                max-width: 250px;
            }
        }
    
        form {
            max-width:400px;
        }
    
        input, textarea {
            padding: 10px 20px;
        }
    
        input {
            background: transparent;
            color: #ffffff;
            border-radius: 20px;
        }
    
            ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                color: #ffffff;
            }

            :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color: #ffffff;
                opacity: 1 /* esto es porque Firefox le reduce la opacidad por defecto */;
            }

            ::-moz-placeholder { /* Mozilla Firefox 19+ */
                color: #ffffff;
                opacity:  1;
            }
            
            :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: #ffffff;
            }
    
        input[type=submit] {
            background-color: #ffffff;
            color: #2b436e;
        }
    
        p {
            font-size: 12px;
        }
    
        p a {
            color: #ffffff;
        }
}
.mini-footer {
    margin-top: auto;
    align-self: center;
    p {
        color: #ffffff;
        font-size: 8px;
    }
}


@media (max-width: 1024px ) { 

    .bg-body {
        background: linear-gradient(#0d54a8, #1ea4f6);
        background: url(../img/bg-login.png) no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        background-position-x: center;
        align-items: center;
        height: 100vh;
    }
}

@media (max-width: 768px) { 

    .bg-body {
        background: url('../img/bg-mobile.jpg') no-repeat;
        background-size: cover;
        background-position-x: left;
      }

        .container-mobile {
            
        }
}


